/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fullscreen body and flexbox centering */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    justify-content: center;
}

#svg {
    display: flex;
    justify-content: center;
}

input {
    display: block;
    margin: 5px;
    padding: 5px;
}

#submit {
    display: grid;
    place-items: center;
}